<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
    <title>TOP</title>

    <!-- common_config.jsから変数を受け取るための苦肉の策、scriptへの変数の渡し方がdocument.getElementByIdしかわからないので・・・-->
    <input type="hidden" id="configUrl" value= <%= page.url%> >    
    <input type="hidden" id="configPort" value= <%= page.port%> >

    <!-- Bootstrap & jQuery JS & CSS -->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bs3.0.3/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/css/bs3.0.3/bootstrap.css' />

    <!-- alertify JS & CSS -->
    <script src="/js/alertify.js"></script>
    <link rel="stylesheet" href="/css/alertify.core.css" />
    <link rel="stylesheet" href="/css/alertify.default.css" />
 
    <!-- Default CSS -->
    <link rel='stylesheet' href='/css/style.css' />

    <!-- icons from glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet" />

    <!-- socket.IO -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect("http://" + document.getElementById("configUrl").value + ":" + document.getElementById("configPort").value);

        // connectメッセージを受けたとき
        socket.on('connect', function(msg) {
                document.getElementById("connectId").innerHTML =
                "あなたの接続ID::" + socket.socket.transport.sessid;
                document.getElementById("type").innerHTML =
                "接続方式::" + socket.socket.transport.name;
        });
                
        // messageメッセージを受けたとき
        socket.on('message', function(msg) {
            // メッセージを画面に表示する
            alertify.success("id=" + msg.value + "の商品をカートへ追加しました");
        });
        
        // disconnectionメッセージを受けたとき
        socket.on('disconnection', function(msg) {
            // メッセージを画面に表示する
            document.getElementById("receiveMsg").innerHTML = '切断されました';
            socket.disconnect();
        });

        // messageメッセージを送る
        function SendMsg(item_id) {
            var msg = item_id;
            socket.emit('message', { value: msg });
        }
        
        // disconnectionメッセージを送る
        function DisConnect() {
            var msg = socket.socket.transport.sessid + "は切断しました。";
            socket.emit('disconnection', { value: msg });
        }
    </script>
 

  </head>

  <body class="top-margin70" onload="document.forms[0].keyword.focus();">
  
    <!-- NaviBar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-th"></span> Rental Manage</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li class="nav-divider"></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><%= page.user_account %><b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#user_setting"><span class="glyphicon glyphicon-edit"></span> ユーザー設定の変更</a></li>
                  <li><a href="#service_setting"><span class="glyphicon glyphicon-check"></span> サービス設定の変更</a></li>
                  <li><a href="#logout"><span class="glyphicon glyphicon-off"></span> ログアウト</a></li>
                </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Main -->
    <div class="container">

    
<!--
      <div id="connectId"></div>
      <div id="type"></div>
      <div id="receiveMsg"></div>
      <input type="button" value="切断する" onclick="DisConnect()">
-->

        <div class="row">
            <div class="col col-sm-2">
            </div>
            
            <div class="col col-sm-4">
                <!-- TOP検索 -->
                <form action="/top" method="post" class="right">
                    <div class="form-group">
                        <input class="form-control input-sm" type="text" name="keyword" placeholder="キーワードまたはバーコード読み込み">
                    </div>
                </form>
            </div>
    
            <div class="col col-sm-2 left">
                <!-- TOP検索 -->
                <button type="submit" class="btn btn-primary btn-sm left" onClick="document.forms[0].submit()">検索</button>
            </div>
    
            <div class="col col-sm-4 right">
              <!-- TOPカート -->
                <button class="btn btn btn-success btn-sm" onClick="location.href='cart'"><span class="glyphicon glyphicon-shopping-cart"></span> カート</button>
            </div>
        </div>
      
        <div class="row top-margin20">
            <!-- TOP画面左 -->
            <div class="col col-sm-2">
                <!-- TOP画面ユーザーメニュー -->
                <div class="well" style="padding: 10px 0;">
                    <ul class="nav nav-list">
                        <li><a href="top" class="toplist-home"><span class="glyphicon glyphicon-home"></span><b> home</b></a></li>
                        <li><span class="toplist-category"><b>　　カテゴリ</b></span></li>
                        <li><a href="#items" class="toplist">　　　大皿</a></li>
                        <li><a href="#reports" class="toplist">　　　その他</a></li>
                    </ul>
                </div>
            </div>
    
            <!-- TOP画面右 -->
            <div class="col col-sm-10">
                <% if(page.data.length == 0) {%>
                    <p><b>最近のおすすめ商品</b></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>検索HITは０件です。</p>
                <% } %>
    
                <!-- 検索結果のid数でループ -->
                <% for(var i=0; i<page.data.length; i++) {%>
                    <li class="col col-sm-3">
                        <div class="thumbnail">
                            <p>No.<%= page.data[i].item_no %></p>
                            <img src= <%= "/img/item_img/item_id_" + page.data[i].item_id + ".jpg" %> alt="">
                            <div class="caption">
                                <p><%= page.data[i].item_name %></p>
                                <p><%= page.data[i].item_description %></p>
                                <input type="hidden" id="id" value=<%= page.data[i].item_no %>>
                                <button_add type="button" class="btn btn-primary btn-sm" onclick="SendMsg('<%= page.data[i].item_id %>')">カートへ</button_add type>
                            </div>
                        </div>
                    </li>
                <% } %>
            </div>
        </div>
    </div>
  </body>
</html>

